* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
}
.grid {
  display: grid;
}

html,
body {
  scroll-behavior: smooth;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background: grey;

  .logo h1 {
    font-size: 1.8rem;
    color: linear-gradient(red, yellow);
  }

  .logo h1 span {
    color: rgb(239, 239, 16);
  }
}

.primary-header .menu .navigation {
  padding: 0;
  margin: 0;
  gap: 2.5rem;

  li a {
    font-weight: bold;
    color: rgb(8, 8, 8);
  }

  li a:hover {
    color: brown;
  }
}

.hero {
  margin: 0;
  padding: 0;
  background: silver;
  overflow: hidden;

  video {
    width: 100vw;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 100px;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }

    p {
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      color: rgb(227, 60, 22);
    }
  }
}

.section2 .info-container {
  margin: auto;
  padding: 2rem;
  max-width: 85%;
  min-height: 7rem;
  border: 2px solid #2a2a2a;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-lists {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.section2 .info-container .info-content .icon-container {
  width: 3rem;
  height: 3rem;
  background: rgb(203, 201, 67);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-content i {
  font-size: 1.4rem;
  color: white;
}
.section2 .info-container .info-content span h5 {
  letter-spacing: 2px;
}
.section2 .info-container .info-content span p {
  color: goldenrod;
}
.section2 .info-container .info-divider {
  width: 2px;
  height: 35px;
  background: grey;
}

// skills
.skills-container {
  gap: 8rem;
  justify-content: center;
  background: silver;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.skills-container div {
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  position: relative;

  animation: scroll 10s linear infinite;

  // animation-delay: 2s;

  .icons {
    height: 80px;
    width: 80px;
    cursor: pointer;
    position: relative;
  }
}
.skills-container i {
  font-size: 3rem;
}

//project section

.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(160, 157, 157);
  padding: 2rem 0;
}
.section4 .project-container {
  width: 100%;
  padding: 3rem 2rem 0 2rem;
  gap: 2.5rem;
  // align-items: stretch;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.section4 .project-container .project-card {
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.4);
  background: rgb(85, 147, 152);
}
.section4 .project-container .project-card .top img {
  width: 100%;
  height: 250px;
}
.section4 .project-container .project-card .bottom {
  margin-top: 1.2rem;
  padding: 1rem;
}
.section4 .project-container .project-card .bottom p {
  font-size: 1.3rem;
}
.section4 .project-container .project-card .bottom p:nth-child(2) {
  margin-top: 1.2rem;
  font-weight: bold;
}

//about-section

.about {
  background: rgba(47, 35, 35, 0.397);
  padding-bottom: 4rem;
  .title {
    text-align: center;
  }
  .about-container {
    flex-direction: row;
    padding: 2rem 10rem;
    justify-content: space-around;
    align-items: center;

    .left {
      position: relative;
      margin-top: 8rem;
      .bg {
        background: radial-gradient(circle, skyblue, goldenrod);
        width: 350px;
        height: 350px;
        border-radius: 50%;
        z-index: -1;
        position: absolute;
        bottom: 0rem;
        left: 2rem;
      }
      .img {
        width: 100%;
        margin-top: -20rem;
      }
    }

    .right {
      padding-top: 6rem;
      p {
        font-size: 2rem;
      }
      h1 {
        font-size: 4rem;
      }

      h2 {
        span {
          background: rgb(123, 154, 62);
          border-radius: 5px;
          width: 10px;
        }
      }
    }
  }

  .interest {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .interest-card {
      flex-direction: column;
      width: 600px;
      border: 3px solid black;

      img {
        width: 595px;
        object-fit: cover;
        border: 2px solid green;
      }
    }
  }
}

// contact-section
.section6 {
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background: #696464a7;

  // h1 {
  //   position: absolute;
  //   top: 5px;
  // }

  .content {
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
    .socials {
      height: 70vh;
      gap: 8rem;

      .fa-github {
        position: absolute;
        top: 55vh;
        left: 10vw;

        font-size: 80px;

        animation: move1 6s ease-out 2s infinite normal both;
      }

      .fa-linkedin {
        position: absolute;
        top: 55vh;
        left: 35vw;
        font-size: 80px;

        animation: move2 6s ease-out 2s infinite normal both;
      }

      .fa-facebook {
        position: absolute;
        top: 35vh;
        left: 35vw;
        font-size: 80px;

        animation: move3 6s ease-out 2s infinite normal both;
      }

      .fa-twitter {
        position: absolute;
        top: 15vh;
        left: 20vw;
        font-size: 80px;

        animation: move4 6s ease-out 2s infinite normal both;
      }
      .fa-instagram {
        position: absolute;
        top: 35vh;
        left: 10vw;
        font-size: 80px;

        animation: move5 6s ease-out 2s infinite normal both;
      }
    }
    .socials i {
      font-size: 3.8rem;
    }
    .socials i:nth-child(1) {
      color: rgb(23, 65, 162);
    }
    .socials i:nth-child(2) {
      color: rgb(31, 31, 151);
    }
    .socials i:nth-child(4) {
      color: rgb(39, 166, 230);
    }
    .socials i:nth-child(5) {
      color: rgb(233, 16, 103);
    }

    .email-section {
      margin-top: 2rem;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .email-section .email {
      background: #2a2a2a;
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 100px;
      gap: 1rem;
      cursor: pointer;
    }
    .email-section .email a {
      color: rgb(241, 233, 233);
    }
    .email-section .email .send {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: rgb(203, 201, 67);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}

//footer

footer {
  background: #232323;
  color: white;
}
footer .footer-container {
  max-width: 1440px;
  flex-direction: column;
  margin: 0 auto;
}
footer .footer-container .footer-top {
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem 4rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
footer .footer-container .footer-top div {
  flex-direction: column;
}
footer .footer-container .footer-top div h3 {
  text-transform: uppercase;
  text-align: center;
}
footer .footer-container .footer-top div ul {
  flex-direction: column;
  gap: 0.1rem;
  align-self: center;
}
footer .footer-container .footer-top div ul li:hover {
  color: rgb(203, 201, 67);
  cursor: pointer;
}
footer .footer-container .footer-top div ul li {
  text-align: left;
}
footer .footer-container .footer-bottom {
  justify-content: center;
  padding-bottom: 1rem;
}

//animations
// animations
@keyframes move1 {
  // github
  0% {
    position: absolute;
    top: 55vh;
    left: 10vw;
  }

  //   facebook
  20% {
    position: absolute;
    top: 55vh;
    left: 35vw;
  }

  //   linkedIn
  40% {
    position: absolute;
    top: 35vh;
    left: 35vw;
  }

  //   twitter
  60% {
    position: absolute;
    top: 15vh;
    left: 20vw;
  }

  //  insta
  80% {
    position: absolute;
    top: 35vh;
    left: 10vw;
  }

  100% {
    position: absolute;
    top: 55vh;
    left: 10vw;
  }
}

@keyframes move2 {
  // github
  80% {
    position: absolute;
    top: 55vh;
    left: 10vw;
  }

  100% {
    position: absolute;
    top: 55vh;
    left: 35vw;
  }

  //   facebook
  0% {
    position: absolute;
    top: 55vh;
    left: 35vw;
  }

  //   linkedIn
  20% {
    position: absolute;
    top: 35vh;
    left: 35vw;
  }

  //   twitter
  40% {
    position: absolute;
    top: 15vh;
    left: 20vw;
  }

  //  react
  60% {
    position: absolute;
    top: 35vh;
    left: 10vw;
  }
}

@keyframes move3 {
  // github
  60% {
    position: absolute;
    top: 55vh;
    left: 10vw;
  }

  //   facebook
  80% {
    position: absolute;
    top: 55vh;
    left: 35vw;
  }
  //   linkedIn
  100% {
    position: absolute;
    top: 35vh;
    left: 35vw;
  }

  //   linkedIn
  0% {
    position: absolute;
    top: 35vh;
    left: 35vw;
  }

  //   twitter
  20% {
    position: absolute;
    top: 15vh;
    left: 20vw;
  }

  //  insta
  40% {
    position: absolute;
    top: 35vh;
    left: 10vw;
  }
}

@keyframes move4 {
  // github
  40% {
    position: absolute;
    top: 55vh;
    left: 10vw;
  }

  //   facebook
  60% {
    position: absolute;
    top: 55vh;
    left: 35vw;
  }

  //   linkedIn
  80% {
    position: absolute;
    top: 35vh;
    left: 35vw;
  }
  //   twitter
  100% {
    position: absolute;
    top: 15vh;
    left: 20vw;
  }

  //   twitter
  0% {
    position: absolute;
    top: 15vh;
    left: 20vw;
  }

  //  insta
  20% {
    position: absolute;
    top: 35vh;
    left: 10vw;
  }
}

@keyframes move5 {
  // github
  20% {
    position: absolute;
    top: 55vh;
    left: 10vw;
  }

  //   fb
  40% {
    position: absolute;
    top: 55vh;
    left: 35vw;
  }

  //   linkedIn
  60% {
    position: absolute;
    top: 35vh;
    left: 35vw;
  }

  //   twitter
  80% {
    position: absolute;
    top: 15vh;
    left: 20vw;
  }

  //  insta
  100% {
    position: absolute;
    top: 35vh;
    left: 10vw;
  }

  //  insta
  0% {
    position: absolute;
    top: 35vh;
    left: 10vw;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(100vw);
  }
}
